@import url("https://use.typekit.net/jkc1xhg.css");

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

p {
  font-size: 16px;
  color: #1ea0d3;
  margin: 0;
}

#paragraphLogin {
  font-size: 16px;
  color: #1ea0d3;
  margin: 0;
  padding-bottom: 2px;
}

a {
  color: #1ed2d3;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 16px;
  gap: 24px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.form-section {
  display: inline;
}

.login-input {
  border-width: 2px;
  border-style: solid;
  border-color: #09b5cc;
  background-color: #f2f2f2;
  padding: 12px 20px;
  font-size: 16px;
  color: #1ea0d3;
}

.login-input::placeholder {
  color: #c8c8c8;
}

.button {
  margin: auto;
  padding: 16px;
}

.buttonLogin {
  background-color: #e1e1e1;
  color: #6f7272;
  border: solid;
  border-color: #e1e1e1;
  padding: 6px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  cursor: pointer;
  font-size: 16px;
}

.buttonLogin:disabled {
  opacity: 60;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
