@import url("https://use.typekit.net/jkc1xhg.css");

/* || General Styles */

a {
  color: #1ed2d3;
}

body {
  justify-content: center;
  align-items: center;
  margin: 0;
}

label {
  font-size: 18px;
  color: #565656;
  text-align: left;
  display: block;
  padding-bottom: 0px;
}

p {
  font-size: 16px;
  display: flex;
}

.button {
  margin: auto;
  width: 30%;
  padding: 16px;
}

.sissaudeLogotipo {
  color: #1ea0d3;
  width: 400px;
  height: 100px;
}

.titulosSecoes {
  font-size: 18px;
  font-weight: bold;
  color: #565656;
  margin: 0;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-top: 8px;
  text-align: left;
}

/* || Boxes */

.campo_preenchimento {
  font-size: 16px;
  color: #c8c8c8;
  border-color: #1ea0d3;
  margin: 0;
}

/* || Termo de Recusa */

.linha1 {
  display: flex;
  color: #565656;
  text-align: left;
  padding-left: 6px;
  padding-top: 8px;
  margin: 4px;
}

.termoRecusa {
  width: 60%;
}

.bloco.termo_Recusa {
  padding: 6px;
}

.assinatura {
  width: 40%;
}

/* || Instituição de Permanência */

.linha2 {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  /*
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;*/
}

.linha2 > div {
  padding-left: 0; /* Removes padding on the left */
  margin-left: 0; /* Removes margin on the left */
}

.bloco.IP {
  padding-left: 6px;
}

.nomeIP {
  width: 60%;
  padding-left: 6px;
  margin: 0;
}

/* || Assinatura */

.signature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#signature-pad {
  background-color: white;
  width: 400px;
  height: 100px;
  cursor: crosshair;
}

/*
#clear-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clear-button:hover {
  background-color: #0056b3;
}
*/
