@import url('https://use.typekit.net/jkc1xhg.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
}

p {
    font-family: 'acumin-pro', 'Verdana', 'Arial', sans-serif;
    font-size: 16px;
    color: #1EA0D3;
    margin: 0;
}

#paragraphLogin {
    font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
    font-size: 16px;
    color: #1EA0D3;
    margin: 0;
    padding-bottom: 2px;
}

a {
  color: #1ED2D3;
}

.container {
  display: flex;
  flex-direction: column;;
  text-align: center;
  margin: auto;
  width:50%;
  padding: 16px;
}

.form {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  flex-direction: column;
  width: 100%;
  height: 200px;
}

.form-section{
  display: inline;
}

.login{
  border-width: 2px;
  border-style: solid;
  border-color: #09B5CC;
  background-color: #F2F2F2;
  margin: auto;
  margin-bottom: 4px;
  width:100%;
  padding: 4px;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  font-size: 20px;
  color: #1EA0D3;
}

.login::placeholder{
  color: #c8c8c8;
}

.button{
  margin: auto;
  width:30%;
  padding: 16px;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
}

.buttonLogin{
  background-color: #e1e1e1;
  border-width: 10px;
  border-color: #c8c8c8;
  color: #6f7272;
  border: none;
  padding: 6px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*margin: auto;*/
  margin-left: auto;
  cursor: pointer;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
}

