@import url('https://use.typekit.net/jkc1xhg.css');

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/f09134/00000000000000007735d40a/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f09134/00000000000000007735d40a/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f09134/00000000000000007735d40a/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* || General Styles */

a {
  color: #1ED2D3;
}

body {
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

label {
  font-size: 18px; 
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  color: #565656; 
  text-align: left;
  display: block;
  padding-top: 6px;
  padding-bottom: 0px;
}

p {
    font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

.bloco {
  padding-bottom: 10px;
  padding-left: 10px;
}

.fonte_pequena {
  text-align: left;  
  font-size: 11px;
  color: #1EA0D3;
}

/* || Utilities */
/*
.container {
  display: flex;
  flex-direction: column;;
  text-align: center;
  margin: auto;
  width:50%;
  padding: 16px;
}
*/
.button{
  margin: auto;
  width:30%;
  padding: 16px;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
}

/*
.sissaudeLogotipo{
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  color: #1EA0D3;
  width: 400px;
  height: 100px;
}*/

.titulosSecoes {
    font-size: 18px;
    font-weight: bold;
    color: #565656;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 6px;
    text-align: left;
}

/* || Boxes */

.boxesPag1 {
  display: flex; /* Enables Flexbox */
  gap: 4px;
}

.campo_preenchimento {
    font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
    font-size: 16px;
    color: #c8c8c8;
    border-color: #1EA0D3;
    margin: 0;
    margin-right: 4px;;
}

.campo_preenchimento.CEP{
    width: 90px;
}

.campo_preenchimento.Municipio {
    width: 135px;
}

.campo_preenchimento.UF {
  width: 50px;
  height: 30px;
}

.campo_preenchimento.Tipo_imovel {
    width: 90px;
}

.campo_preenchimento.Bairro {
    width: 90px;
}

.campo_preenchimento.Tipo_logradouro {
    width: 135px;
}

.campo_preenchimento.Nome_logradouro {
    width: 175px;
}

.campo_preenchimento.Microarea {
    width: 63px;
}

.campo_preenchimento.Residencial {
    width: 153px;
}

/*
.campo_preenchimento.FA {
    transform: scale(1.5);
    width: 20px;
    height: 20px;
    margin: 0;
    margin-top: 5px;
    margin-left: 4px;
    padding: 0;
}
*/

.campo_preenchimento.Numero{
    margin-right: 8px;
    width: 90px;
}
.campo_preenchimento.SNum {
    transform: scale(1.5);
    width: 20px;
    height: 20px;
    margin: 0;
    margin-top: 5px;
    margin-right: 4px;
    padding: 0;
}

.campo_preenchimento.PtoRef{
    width: 400px;
}

.pto_ref{
    margin-left: 6px;
}


/* || Telefone Contato */

.campo_preenchimento.Residencial {
  display: inline-block; 
  width: 130px;
  margin-left: 4px; 
}

.contato {
  display: block;  
}


/* || Animais no domicílio */

.campo_preenchimento.Animais {
  display: block; 
  margin-left: 4px; 
}


/* || Famílias */

.linha_bloco_familias {
  display: flex;
}
.campo_preenchimento.Prontuario_familiar{
    margin-right: 4px;
    width: 125px;
}

.campo_preenchimento.CNS_responsavel {
  width: 125px;
  margin-right: 4px;
}

.campo_preenchimento.Renda_familiar{
  display: block;
  width: 50px;
  margin-bottom: 14px;
}


/* || Moradia */

.campo_preenchimento.Moradia {
  display: block;
  width: 214px;
  margin-right: 4px;
}

.campo_preenchimento.Acesso_domicilio {
  display: block;
  width: 214px;
  margin-right: 4px;
}

.moradores_comodos {
  display: flex;
  margin-top:34px;
  margin-right: 4px;
  padding-right: 10px;
  align-items: center;
  width: 100px;
}

.moradores_comodos.Energia {
  width: 214px;
  margin-top: 4px;
}

.acesso_domicilio {
  margin-top: 14px;
}

.energia_eletrica {
  font-size: 18px;
  margin-left: 8px;
}

/* || Animais no domicílio */
.animais_domicilio {
  display: flex;
  align-items: center;
}

.linha_bloco.Animais {
    display: flex; /* Enables Flexbox */
    flex-wrap: wrap; /* Allows wrapping if elements don't fit in one row */
    align-items: center; /* Aligns items vertically */
    gap: 4px; /* Adds spacing between elements */
}

.campo_preenchimento.Quantos_animais {
    width: 20px;
    margin-right: 4px;
}
