@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/77c301/00000000000000007735d430/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/77c301/00000000000000007735d430/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/77c301/00000000000000007735d430/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@import url('https://use.typekit.net/jkc1xhg.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
}

p {
    font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
    font-size: 16px;
    color: #1EA0D3;
    margin: 0;
}

a {
  color: #1ED2D3;
}

.cadastroDomiciliar {
    font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #105266;
    margin: 0;
    padding-bottom: 2px;
    background-color: #e3e5e5;
}

#Cadastro_domiciliar label {
    font-size: 16px; 
    font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
    color: #565656; 
    text-align: left;
    display: flex;
}

.campo_preenchimento{
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #76C5CE;
  margin: auto;
  margin-bottom: 8px;
  width:88%;
  height: 18px;
  padding: 4px;
}

.sissaudeLogotipo{
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  color: #1EA0D3;
  width: 400px;
  height: 75px;
}