.App {
  text-align:"";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  text-align: center;
  margin: auto;
  width:50%;
  padding: 16px;
} 

.login{
  border-width: 2px;
  border-style: solid;
  border-color: #09B5CC;
  background-color: #F2F2F2;
  margin: auto;
  margin-bottom: 4px;
  width:100%;
  padding: 4px 0px;
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  font-size: 20px;
  color: #1EA0D3;
}
  
.line{
  display: inline-block;
  width: calc(100% - 50px)
}
.background{
  height: 700px;
  background-color: #E5E4E2;
}

.bloco{
  background-color: lightgray;
}
.campo_preenchimento{
  border-width: 2px;
  border-style: solid;
  border-color: #76C5CE;
  margin: auto;
  /*width:100%;*/
  padding: 16px;
}

.checkbox{
  border-width: 2px;
  border-style: solid;
  border-color: #76C5CE;
  margin: auto;
  /*width:100%;*/
  padding: 16px;
}
.linha{
  margin: auto;
  display:flex;
}

.botoesmenu{
  border-width: 2px;
  margin: auto;
  padding: 16px 20px;
  width: 150px;
  height: 50;
  background-color: #76C5CE;
  cursor: pointer;
  justify-content: space-between;
}

.labelsLogin{
  font-size: 21px; 
  font-family: 'acumin-pro-condensed', 'Verdana', 'Arial', sans-serif;
  color: #c9c9c9; 
  text-align: center;
  display: block;
  padding-bottom: 0px;  
}