p {
    font-family: 'Verdana', 'Arial', sans-serif;
    font-size: small;
    color: #6e6e6e;
}

body {
    font-family: 'Arial', sans-serif;
}


.container {
  text-align: center;
  margin: auto;
  width:50%;
  padding: 16px;
}
.form {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}
    .login{
    border-width: 2px;
    border-style: solid;
    border-color: #76C5CE;
  margin: auto;
  width:100%;
  padding: 16px;
    }
    .button{
      margin: auto;
  width:30%;
  align: right;
  padding: 16px;
    }
    .form-section{
      display: inline;
      }